In [ ]:
%LOAD postgresql dbname=Filmes

# Link para as configurações iniciais do postgres
https://xeus-sql.readthedocs.io/en/latest/PostgreSQL.html

## Script para a Tarefa 01 - Banco de Dados II 2020.2
### 12/02/2021
### Patric Lacouth

1. Crie o BD chamado “Filmes” no Postgres.

In [5]:
-- CREATE DATABASE Filmes

2.  Crie as tabelas referentes ao modelo lógico (Figura 2) com suas
    estruturas compostas dos atributos e constraints indicados. 
    Use o tipo serial quando o atributo chave primária for 
    único e inteiro (codArt, codFilme, codEst,CodCATEG). 
    Salve seu script de criação de tabelas e constraints.

In [6]:
CREATE TABLE IF NOT EXISTS Artista (
	codArt SERIAL NOT NULL,
	nomeArt VARCHAR(25),
	cidade VARCHAR(20),
	pais VARCHAR(20),
	dataNasc DATE,
	CONSTRAINT pk_artista PRIMARY KEY(codArt)
);

In [7]:
CREATE TABLE IF NOT EXISTS Estudio (
	codEst SERIAL NOT NULL,
	nomeEst VARCHAR(25),
	CONSTRAINT pk_estudio PRIMARY KEY(codEst)
);

In [8]:
CREATE TABLE IF NOT EXISTS Categoria (
	codCateg SERIAL NOT NULL,
	descCateg VARCHAR(25),
	CONSTRAINT pk_categoria PRIMARY KEY(codCateg)
);

In [9]:
CREATE TABLE IF NOT EXISTS Filme(
	codFilme SERIAL NOT NULL,
	titulo VARCHAR(25),
	ano INTEGER,
	duracao INTEGER,
	codCateg INTEGER,
	codEst INTEGER,
	CONSTRAINT pk_codFilme PRIMARY KEY(codFilme),
	CONSTRAINT fk_codEst FOREIGN KEY(codEst) REFERENCES Estudio,
	CONSTRAINT fk_codCateg FOREIGN KEY(codCateg) REFERENCES Categoria
);

In [10]:
CREATE TABLE IF NOT EXISTS Personagem(
	codFilme INTEGER,
	codArt INTEGER,
	nomePers VARCHAR(25),
	cache NUMERIC(15,2),
	CONSTRAINT fk_codFilme FOREIGN KEY(codFilme) REFERENCES Filme,
	CONSTRAINT fk_codArt FOREIGN KEY(codArt) REFERENCES Artista,
	CONSTRAINT pk_personagem PRIMARY KEY (codFilme,codArt)
);

3.    Verifique a estrutura das tabelas após sua criação: ARTISTA, FILME, CATEGORIA, ESTUDIO e PERSONAGEM. Estão compatíveis com os modelos?

In [25]:
SELECT 
   table_name, 
   column_name, 
   data_type 
FROM 
   information_schema.columns
WHERE 
   table_name = 'artista';

Error: unknown data type with typelem: 19 for colNum: 1 with name: table_name while executing "SELECT
   table_name,
   column_name,
   data_type
FROM
   information_schema.columns
WHERE
   table_name = 'artista';".

In [23]:
select * from artista;

Empty set (0,00 sec)